doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title NiceAir
		link(rel='stylesheet' href='static/bower_components/jquery.mobile/jquery.mobile-1.4.5.min.css')
		link(rel='stylesheet' href='static/css/home.css')
		script(src='static/bower_components/jquery/dist/jquery.min.js')
		script(src='static/bower_components/jquery.mobile/jquery.mobile-1.4.5.min.js')
		script(src='static/bower_components/Chart.js/Chart.min.js')
		script(src='static/js/home.js')

	body
		video.bgmovie(src="static/mp4/bad.mp4" autoplay loop)
		#home(data-role='page')
			a(href="#panel")
				img.listicon(src='static/img/list.png')
			.ui-content(role='main')
				.center.place.text
					.building 月牙楼
					.room 403 B教室
				.center.circle
				p.center.score 78
				.center.suggest
					p.text 最好开窗通风哦！

				#statWrapper.center
					canvas#stat

		#panel(data-role="panel" data-theme="a" data-display="overlay")
			ul(data-role="listview")
				li(data-icon="bars")
					a(href="/") 主页
				li(data-icon="bars")
					a(href="#favorite") 收藏夹
				li(data-icon="calendar")
					a(href="#search") 搜索
				li(data-icon="clock")
					a(href="#all") 校园概览
				li(data-icon="false")
					a(href="#about") 空气差时提醒我
						input(type="checkbox" data-role="flipswitch" name="flip-checkbox-1" id="flip-checkbox-1" data-mini="true")

		#search(data-role='page', data-theme='a')
			a(href="#panel")
				img.listicon(src='static/img/list.png')

			.ui-content(role='main')
				.center.title 搜 索
				.center.require
					p
						a(href="#searching").text 离我最近且空气较好
					p
						a(href="#searching").text 离我最近且空气较好
				.line2
				.center.require
					p
						a(href="#searching").text 请输入地点位置

		#searching(data-role='page')
			a(href="#panel")
				img.listicon(src='static/img/list.png')

			.ui-content(role='main')
				.stub
				.center.circles
				.center.stub2.text 正在搜索符合要求的地方

		#favorite(data-role='page', data-theme='a')
			a(href="#panel")
				img.listicon(src='static/img/list.png')

			.ui-content(role='main')
				.center.title 搜 索
				.center.require
					p
						a(href="#searching").text 离我最近且空气较好
					p
						a(href="#searching").text 离我最近且空气较好
				.line2
				.center.require
					p
						a(href="#searching").text 请输入地点位置
